@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-primary: #894c2a;
  --color-primary-container: #a66440;
  --color-secondary: #4a6453;
  --color-background: #fcf9f4;
  --color-on-surface: #1c1c19;
  --color-on-surface-variant: #53443c;
  --color-surface-container-low: #f6f3ee;
  --color-surface-container-high: #ebe8e3;
  --color-surface-container-highest: #e5e2dd;
  --color-surface-container-lowest: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-sans;
  }
}
